@media (max-width: 1200px)
  .container
    max-width: 960px
  .hotel
    &-slider
      width: 590px
  .swiper
    &-slide
      &__image
        width: 100%
        height: 100%
        object-fit: cover
  .card
    width: 225px
    height: 225px
  .footer
    &__input
      flex-basis: 100%

    &-bottom__ul
      padding: 0

@media (max-width: 992px)
  .container,
  .newsletter-wrapper
    max-width: 700px
  .logo
    width: 132px
  .navbar
    &-top
      padding-top: 30px
      padding-bottom: 30px
    &__search
      margin-left: auto
    &-menu
      padding-top: 22px
      padding-bottom: 22px
      &__link
        font-size: 12px
        line-height: 15px
  .search
    &__input
      max-width: 340px
  .hotel
    &-grid
      flex-direction: column
    &-slider
      width: 100%
    &__slider
      margin-bottom: 30px
    &-right
      flex-direction: row
  .slider
    width: 100%
  .booking
    width: 340px
  .map
    width: 340px
  .reviews
    &-slider
      &__item
        max-width: 580px
  .activities
    padding-bottom: 70px
    &-wrapper
      flex-wrap: wrap
    &__card
      margin-bottom: 20px
  .card
    width: 340px
    height: 255px
    margin-bottom: 20px
  .footer
    padding: 73px 0 33px

    &-wrapper
      grid-template-columns: repeat(6, 1fr)
      grid-row-gap: 40px

    &__input
      flex-basis: 47%

    &__logo
      grid-row: 1 / 2
      grid-column: span 2

    &__social
      &-network
        grid-row: 1 / 2
        grid-column: span 4
        align-self: center

    &__categories
      grid-row: 2 / 3
      grid-column: span 2

    &__legal
      grid-column: span 2

    &__additional
      grid-column: span 2
      display: grid
      justify-content: flex-end

    &__contact
      &-details
        grid-row: 3
        grid-column: span 5

      &-form
        grid-row: 4
        grid-column: span 5
        max-width: 540px

    &__title
      white-space: nowrap

    &__logo
      width: 100px

    &__legal
      display: block

      &-image
        grid-column: span 3
        grid-row: 5

    &__top
      margin-bottom: 54px

    &-bottom
      grid-template-columns: 1fr 1fr

      &__ul
        grid-column: 1

@media (max-width: 768px)
  .container
    max-width: 576px
    width: 92%
  .navbar
    &__search, &-menu, &__user
      display: none
  .menu
    &-button
      display: flex
      width: 16px
      height: 11px
      padding: 0
      align-items: center
      justify-content: space-between
      flex-direction: column
      border: none
      background-color: $white
      cursor: pointer
      &__line
        width: 16px
        height: 1px
        background-color: $grey
  .stars
    flex-basis: auto
  .hotel
    &-name
      flex-basis: 100%
    &-wrapper
      justify-content: space-between
    &-info
      &__text
        width: 100%
      &__name
        margin-top: 10px
        margin-bottom: 0
      &__rating
        display: none
      &__offer
        order: -1
        margin-left: 0
    &__slider
      margin-bottom: 20px
    &-slider
      height: 300px
    &-right
      flex-direction: column
    &__booking
      margin-bottom: 20px
  .booking
    width: 100%
  .map
    width: 100%
  .newsletter
    &-wrapper
      max-width: 576px
      width: 92%
      flex-direction: column
      align-items: flex-start
  .reviews
    &-slider
      &__item
        padding: 0 30px 30px
        &:after, &:before
          display: none
      &__button
        top: 32px
        &--prev
          left: 50%
          transform: translate(-50%, 0)
          margin-left: -65px
        &--next
          right: 50%
          transform: translate(50%, 0)
          margin-right: -65px
  .activities
    padding: 40px 0 60px
    &__title
      font-size: 18px
      line-height: 23px
  .card
    width: 49%
  .footer
    &__input
      flex-basis: 100%

    &__title
      white-space: normal

    &__top
      margin-bottom: 30px

    &-bottom
      &__image
        justify-content: flex-start
        grid-row: 3

      &__ul
        grid-column: span 2

@media (max-width: 576px)
  .logo
    width: 99px
  .newsletter
    padding: 76px 0 83px 0
  .subscribe
    width: 100%
  .card
    width: 100%
  .footer
    &-wrapper
      grid-template-columns: 1fr
      grid-row-gap: 33px

    &__logo
      grid-row: 1
      grid-column: 1

    &__social
      &-network
        grid-row: 2
        grid-column: 1
        flex-direction: column
        align-items: flex-start

    &__additional
      grid-row: 4
      grid-column: 1

    &__categories
      grid-row: 5
      grid-column: 1

    &__legal
      grid-row: 3
      grid-column: 1

    &__contact
      &-details
        grid-row: 6
        grid-column: 1

      &-form
        grid-row: 7
        grid-column: 1

    &__info
      flex-basis: 100%
      margin-bottom: 15px

    &__button
      order: 2

    &__message
      width: 100%

    &__icon
      &-wrapper
        min-width: 30px

    &__title
      &--inline
        margin-bottom: 22px

    &__additional
      justify-content: flex-start

@media (max-width: 320px)
  .hotel
    &-slider
      height: 200px
